---
release_only: true
---
{% assign all_images = site.static_files | sort: "basename" %}
{% for image in all_images %}
	{% if image.extname contains 'jpg' or image.extname contains 'jpeg' or image.extname contains 'png' or image.extname contains 'gif' %}
		{% assign derp_info = site.derps[image.name] %}
		{% unless derp_info.isImage %}
			{% if derp_info.name %}
				{% assign derp_name = derp_info.name %}
			{% else %}
				{% assign derp_name = image.basename %}
			{% endif %}
			<div style="background-image: url('{{ site.baseurl }}{{ image.path }}');" title="{{ derp_name }}" code="[img]{{ site.baseurl }}{{ image.path }}[/img]" onclick="javascript: insert_smiley(this);"></div>
		{% endunless %}
	{% endif %}
{% endfor %}